.container{
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#F7C566, #fff);

}

.inner{
width: 35%;
height: 50vh;
background-color: rgb(204, 204, 204);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}

.heading{

}
.input{
    width: 100%;
}

.field{
    width: 80%;
}

.submit{
    background-color: green;
    width: 100%;
    height: 5vh;
    color: #fff;
    border: none;
    border-radius: 15px;
}


@media screen and (min-width:676px) and (max-width:1024px){
    .inner{
        width: 70%;
    }
}

@media screen and (max-width:676px){
    .inner{
        width: 90%;
        height: 65vh;
    }
}