.container{
    width: 100%;
    min-height: 87vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    width: 80%;
    min-height: 87vh;
    /* max-height: 100vh; */
    background-color:lightgrey;
    border-radius: 10px;
    padding: 2%;
}

.title{
    text-align: center;

}